a {
  text-decoration: none;
}

.boton_primary {
  border-radius: 4rem;
  font-size: 1.4rem;
  padding: 0.7rem 1.6rem;
  line-height: 2.4rem;
  cursor: pointer;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: center;
  width: 12.4rem;
  height: 3.8rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 10rem;
}

.boton_primary:hover {
  opacity: 0.6;
  text-decoration: none;
}

.boton__descargar {
  border-radius: 4rem;
  font-size: 1.6rem;
  padding: 0.7rem 1.6rem;
  cursor: pointer;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  color: black;
  text-align: center;
  width: 25rem;
  height: 5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 2.4rem;
}

.boton__abrir {
  border-radius: 4rem;
  font-size: 1.6rem;
  padding: 0.7rem 1.6rem;
  cursor: pointer;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: black;
  color: white;
  text-align: center;
  width: 25rem;
  height: 5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 2.4rem;
}
